name: Build & Release Firmware

on:
  push:
    branches: [ main ]
  push:
    tags: ['*']     # releases are created when you push tags like 1.0.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install PlatformIO
        run: python -m pip install -U pip && pip install -U platformio

      - name: Build with PlatformIO
        run: |
          platformio run

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware-bin
          path: |
            .pio/build/**/firmware.bin
            .pio/build/**/firmware-*.bin
